.wrapper {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 5rem;
}

.title {
  margin-bottom: 1rem;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  margin: 0 auto;
}

.inputGroup {
  background-color: red;
  width: 100%;
}

.input {
  width: 100%;
  padding: 0.5rem;
}

.button {
  padding: 0.5rem 1rem;
  text-transform: uppercase;
}
